body {
  background-color: #0e1a2b;
}

.primary-text {
  color: #ffffff;
}

.secondary-text {
  color: #a9b2c3;
}

.projects-p {
  font-size: 3rem;
}

.card-picture:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.card-bg {
  background-color: #ffffff;
}

.card-text {
  color: #1a1a1a;
}

.button-bg {
  background-color: #4c8dff;
}

.button-bg:hover {
  background-color: #4c8dff;
}

.highlight-text {
  color: #8e6cff;
}

.contact-btn {
  background-color: rgba(82, 82, 82, 0.192);
}

#projects {
  height: 100vh;
}
