@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Inter:wght@400;500;600&family=Fira+Code:wght@400;500;600&display=swap");

/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e1a2b;
}

/* FONT FAMILIES */
.heading {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.body-text {
  font-family: "Inter", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.code-text {
  font-family: "Fira Code", Consolas, monospace;
  font-weight: 500;
}

/* FONT STYLES */
.projects-p {
  font-size: 3rem;
}

/* FONT COLORS */
.primary-text {
  color: #ffffff;
}

.secondary-text {
  color: #a9b2c3;
}

.repo-link {
  background-color: #4c8dff;
  transition: all 0.2s ease-in-out;
}

.repo-link:hover {
  transform: scale(1.05);
}

.card-text {
  color: #1a1a1a;
}

.highlight-text {
  color: #8e6cff;
}

/* BACKGROUND COLORS  */
.bg-gray {
  background-color: #d1d4da88;
}

.card-bg {
  background-color: #ffffff;
}

.button-bg {
  background-color: #4c8dff;
}

.button-bg:hover {
  background-color: #4c8dff;
}

.tech-bg {
  background-color: #80a6e9;
}

.contact-btn {
  background-color: rgba(82, 82, 82, 0.192);
}

.card-picture:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.submit-btn {
  background-color: #2c74f1;
  transition: all 0.5s;
}

.submit-btn:hover {
  background-color: #4c8dff;
}

/* SECTIONS */
#projects {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#skills {
  margin: 5rem;
}

.skills {
  gap: 4rem;
}

.contacts a {
  color: white;
  transition: color 0.3s, transform 0.3s;
}

.contacts a:nth-child(3) {
  width: fit-content;
}

.contacts a:hover {
  color: #80a6e9;
  transform: scale(1.02);
}

.card-img {
  filter: grayscale(1);
}

.card-img:hover {
  filter: grayscale(0);
}
